<h3>Customer List</h3>
<app-list [bodyItems]="customersList" [headerItems]="customerHeader" [callingFrom]="pagename"></app-list>


<h3>Order List</h3>
<app-list [bodyItems]="ordersList" [headerItems]="orderHeader" [callingFrom]="pagename"></app-list>


<hr>
<h3>All Commands I have used here </h3>
<div><br />
    <div><span style="background-color: #000000; color: #ffffff;"><strong>First&nbsp;I&nbsp;deploy&nbsp;my&nbsp;repo&nbsp;:</strong></span></div>
    <ol>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp; Click&nbsp;on&nbsp;create&nbsp;new&nbsp;repository</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;Come&nbsp;to&nbsp;command&nbsp;line,&nbsp;go&nbsp;to&nbsp;project&nbsp;directory&nbsp;and&nbsp;put:&nbsp;&nbsp;$&nbsp;git&nbsp;init</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp; $&nbsp;git&nbsp;add&nbsp;.</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp; $&nbsp;git&nbsp;commit&nbsp;-m&nbsp;"First&nbsp;commit".</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;At&nbsp;the&nbsp;top&nbsp;of&nbsp;your&nbsp;GitHub&nbsp;repository's&nbsp;Quick&nbsp;Setup&nbsp;page,&nbsp;click&nbsp;&nbsp;to&nbsp;copy&nbsp;the&nbsp;remote&nbsp;repository&nbsp;URL.</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;In&nbsp;the&nbsp;Command&nbsp;prompt,&nbsp;add&nbsp;the&nbsp;URL&nbsp;for&nbsp;the&nbsp;remote&nbsp;repository&nbsp;where&nbsp;my&nbsp;local&nbsp;repository&nbsp;will&nbsp;be&nbsp;pushed.</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp; git&nbsp;remote&nbsp;add&nbsp;origin&nbsp;remote&nbsp;repository&nbsp;URL</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;Sets&nbsp;the&nbsp;new&nbsp;remote:&nbsp;$git&nbsp;remote&nbsp;-v</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;Verifies&nbsp;the&nbsp;new&nbsp;remote&nbsp;URL</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp; $&nbsp;git&nbsp;push&nbsp;origin&nbsp;master</span></li>
    </ol>
    <br />
    <div><span style="background-color: #000000; color: #ffffff;">&nbsp;<strong>Add&nbsp;new&nbsp;commit&nbsp;and&nbsp;push&nbsp;code&nbsp;on&nbsp;GitHub</strong></span></div>
    <ol>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;Check&nbsp;status&nbsp;on&nbsp;git:&nbsp;$git&nbsp;status</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;Add&nbsp;all&nbsp;files&nbsp;want&nbsp;to&nbsp;commit&nbsp;using:&nbsp;&nbsp;$git&nbsp;add&nbsp;[files&nbsp;name]</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;$&nbsp;git&nbsp;commit&nbsp;-m&nbsp;"your&nbsp;commit&nbsp;message"</span></li>
    <li style="text-align: left;"><span style="background-color: #000000; color: #ffffff;">&nbsp;$git&nbsp;push&nbsp;origin&nbsp;master</span></li>
    </ol>
    </div>