<div class="col-3 p-0 vh-100 h-100 text-white w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">

<div class="navbar-dark bg-dark position-fixed h-100 w-sidebar">
    <h6 class="px-3 pt-3">Main Menu</h6>
    <ul class="nav flex-column flex-nowrap text-truncate">
        <li class="nav-item" *ngFor="let menuItem of menuList; let i= index;">
            <a class="nav-link" routerLink="{{menuItem.path}}" routerLinkActive="active" *ngIf="menuItem.isVisible">{{menuItem.menuName}}</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/customers">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"routerLink="/orders">Orders</a>
        </li>                     -->
    </ul>
</div>
</div>