<table class="table table-dark">
  <thead>
    <tr >
      <th *ngFor="let header of headerItems; let i = index;">{{header.name}}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let item of bodyItems; let indx = index;">
      <ng-container *ngFor="let header of headerItems; let i = index;">
      <td>{{item[header.code]}}</td>
      </ng-container>
      <td>
        <span (click)="actionOnItem(indx, 'edit')" class="pointer"><i class="fa fa-edit fa-lg"></i>
        </span> &nbsp;
        <span (click)="actionOnItem(indx, 'delete')" class="pointer">
          <i class="fa fa-trash fa-lg"></i>
        </span>
      </td>
    </tr>

  </tbody>
</table>